@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans&display=swap');

h1, h2 {
    font-family: 'Luckiest Guy', cursive;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.introduction {
    margin: auto;
    width: 70%;
    padding: 10px;
}

.intro-text {
    position: absolute;
    top: 40%;
    bottom: 60%;
    text-align: center;
    padding: none;
    border: 3px;
    border-radius: 5px;
    border-style: dashed;
    border-color: gray;
    padding: 2rem 2rem 5rem 2rem;
}

.intro-text:hover {
    transform: rotate(20deg);
}

.about {
    padding: 30px;
}

.action {
    text-align: center;
    padding: 30px;
    color: white;
}
.sleigh {
    margin: auto;
}

.sleigh:hover {
    transform: skew(20deg,10deg);
}

.contact {
    padding: 30px;
}

input[type=text], input[type=email] {
    border-radius: 20px;
    border: 2px dotted #00ff80;
    background-color: #00ff8048;
    color: rgb(255, 255, 255);
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
}

input[type=submit] {
    border-radius: 20px;
    border: 2px solid #00ff80;
    color: black;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}

input[type=submit]:hover {
    background-color: #00ff8048;
}

input {
    font-size: large;
}

label {
    font-size: large;
    font-family: 'Open Sans', sans-serif;
}

::placeholder {
    color: gray;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    padding: 5px 0;
}

#introdution {
    background: white;
}

#about {
    background: #6ebe89;
}

#action {
    background-image: url("assets/sky.jpg");
}

#contact {
    background: #f88585;
}